{{!-- Add Button --}}
<button name="add" type="button" id="add" value="{{item_class}}||  {{this.dish_name}} {{this.dish_price}}">Add</button>

{{!-- Delete Button--}}
<button name="delete" type="button" id="delete"
   value="{{item_class}}||  {{this.dish_name}} {{this.dish_price}}">Delete</button>

