{{> header}}



<a href="/api/admin"><button class="btn btn-light">Admin</button></a>
{{!-- <a class="btn btn-light" href="#" role="button">Admin</a> --}}
</div>
<!--</div> -->


<!-- CATEGORY NAV BAR -->
{{> navBar}}


{{!--{{#each menu}}--}}
<!-- IMAGES, NAME AND DESCRIPTION -->
<!-- IMAGES -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <br><br>
            <img src="/images/tiramasu.jpg">
            <br><br><br><br>
            <img src="/images/chocochipcookieskillet_640x480.jpg">
            <br><br><br><br>
            <img src="/images/spumoni.jpg">
            <br><br><br><br>
        </div>

        <!-- NAME and DESCRIPTION -->
        <div class="col-md-4 text-center">
            <br><br>

            {{#each menuData}}
            {{#is this.item_class "Desert"}}
            <p>{{this.dish_name}}</p>
            <p>{{this.dish_desc}}</p>
            <p>{{this.dish_price}}</p>
            <div id="orderBtn">
                {{> order}}
            </div>
            <br><br><br><br>

            {{/is}}
            {{/each}}
        </div>


        <!--Order list-->
        <div class="col-md-4 text-center">

            <br><br><br><br>
            <p> Your Order </p>

            <p id="orderList"></p>
{{> confirmOrder}}
        </div>



    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p> Waiting time: </p>


        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary" href="#" role="button">Confirm Order</a>
        </div>
    </div>
</div>
<!--<form class="clearfix mb-4" action="POST">
    <div class="form-group">
      <label for="example-text">Example Text</label>
      <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>
    <div class="form-group">
      <label for="example-description">Example Description</label>
      <textarea class="form-control" id="example-description" aria-describedby="example-description"
        placeholder="Enter Example Description"></textarea>
    </div>
    <button id="submit" class="btn btn-primary float-right">Submit</button>
  </form>
  <h3>Examples:</h3>
  <ul id="example-list" class="list-group">
    {{#each examples}}
    <li data-id="{{this.id}}" class="list-group-item">
      <a href="example/{{this.id}}">{{this.text}}</a>
      <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
  </ul>
  </div>
</div>
</div>
</div>-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
    

    //$("body").on("click", "button[name=add]", function (event) {
       //  event.preventDefault();
        //let orderAdd = $("#orderList").text($(this).val())
        //let orderAppend = $("#orderList").append($(this).val())
       
        //let orderShow = $("#orderList").orderAdd



       // if ($("#orderList").text() == '') {
            //$("#orderList").text($(this).val())
       // } else {
          //  $("#orderList").append("<br/>")
          //  $("#orderList").append($(this).val())

       // }
        //$.post("/", orderData, function (data){

        //})
   // })
</script>