{{> header}}



<!-- CATEGORY NAV BAR -->
{{> navBar}}


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br><br>
      <img src="/images/mushroom_prawns.jpg">
      <br><br><br><br>
      <img src="/images/mozza_marinara.jpg">
      <br><br><br><br>
      <img src="/images/cheese_pomp.jpg">
      <br><br><br><br>
      <img src="/images/mussels_garlic_butter.jpg">
      <br><br><br><br>
      <img src="/images/mushroom_app.jpg">
      <br><br><br><br>
      <img src="/images/starter.jpg">
    </div>

    <!-- IMAGES, NAME AND DESCRIPTION -->
    <!-- IMAGES -->
    <!-- NAME and DESCRIPTION -->

    <div class="col-md-4 text-center">
      <br><br>
      {{#each menuData}}
      {{#is this.item_class "Starter"}}
      <p>{{this.dish_name}}</p>
      <p>{{this.dish_desc}}</p>
      <p>{{this.dish_price}}</p>
      <a class="btn btn-primary" href="#" role="button">Add</a>
      <a class="btn btn-primary" href="#" role="button">Delete</a>
      <br><br><br><br>

      {{/is}}
      {{/each}}
    </div>





    <div class="col-md-4 text-center">


      <!--Order list-->
    </div>


  </div>
</div>





<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p> Waiting time: </p>


    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="#" role="button">Confirm Order</a>
    </div>
  </div>
</div>
<!--<form class="clearfix mb-4" action="POST">
    <div class="form-group">
      <label for="example-text">Example Text</label>
      <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
        placeholder="Enter Example Text">
    </div>
    <div class="form-group">
      <label for="example-description">Example Description</label>
      <textarea class="form-control" id="example-description" aria-describedby="example-description"
        placeholder="Enter Example Description"></textarea>
    </div>
    <button id="submit" class="btn btn-primary float-right">Submit</button>
  </form>
  <h3>Examples:</h3>
  <ul id="example-list" class="list-group">
    {{#each examples}}
    <li data-id="{{this.id}}" class="list-group-item">
      <a href="example/{{this.id}}">{{this.text}}</a>
      <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
  </ul>
  </div>
</div>
</div>
</div>-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>